* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.box {
  width: 480px;
  height: 480px;
  background-color: blue;
  color: aliceblue;
  padding-left: 40px;
  padding-top: 40px;
}
